include README.MD
include LICENSE
include requirements.txt
include storage.json
include *.py
recursive-include assets *
recursive-include backend *
recursive-include frontend *
exclude build.py
exclude pytodo.spec
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
